<div class="w3l_footer">
  <div class="container">
<div class="col-md-4">
<h2><a href="index.html">Plafond</a></h2>
</div>
<div class="col-md-8 botttom-nav-agileits">
  <ul class="nav-w3ls">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/gallery" >Projects</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
  <div class="w3l-social">
    <ul>
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
    </ul>
  </div>
  <div class="clearfix"> </div>
</div>
<div class="clearfix"> </div>
</div>
</div>
<div class="w3_agile_footer">
  <div class="container">
    <p>© 2017 Plafond. All rights reserved | Design by <a href="https://otooto-release.herokuapp.com/">Otooto</a></p>
    <div class="arrow-container animated fadeInDown">
      <a href="#home" class="arrow-2 scroll">
        <i class="fa fa-angle-up"></i>
      </a>
      <div class="arrow-1 animated hinge infinite zoomIn"></div>
    </div>
  </div>
</div>
