<div class="slider">
  <div class="callbacks_container">
    <ul class="rslides callbacks callbacks1" id="slider4">
      <li>
        <div class="w3layouts-banner-top">
                        <div class="agileits-banner-info">
              <h3>Expert Roofing Services <span>Contractor</span></h3>
            </div>

        </div>
      </li>
      <li>
        <div class="w3layouts-banner-top w3layouts-banner-top1">
          <div class="agileits-banner-info">
              <h3>professional & Trained  <span>Workers</span></h3>
            </div>

        </div>
      </li>
      <li>
        <div class="w3layouts-banner-top w3layouts-banner-top2">
                <div class="agileits-banner-info">
              <h3>Trusted & Reliable <span>Contractors</span></h3>
            </div>

        </div>
      </li>
      <li>
        <div class="w3layouts-banner-top w3layouts-banner-top3">
             <div class="agileits-banner-info">
              <h3>We Will Help You to Fix <span>Your Roof</span></h3>
            </div>

        </div>
      </li>
    </ul>
  </div>
  <div class="clearfix"> </div>

  <!--//banner text-->
</div>
